[DEFAULT]
# login information for Jemena account
email=user@domain.com
password=secret
# tariff: daily cost in cents
daily_c=90
# tariff: cost per kWh
rate_ckw=25
# only use data after this date (e.g. move in date)
start_date=2023-1-1
